* {
  margin: 0 auto;
}

html, body {
    margin:0;border:0;padding:0;
    font-size:16px;
    font-family: 'Proxima';
    overflow-x:hidden;
    position: relative;
    vertical-align: baseline;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }
  h2 {font-size:36px;}
  h3 {font-size:30px;}
  h4 {font-size:24px;}
  h5 {font-size:18px;}
  
  hr {
    border-top: 2px solid dodgerblue;
  }
  
  section {
    padding: 15px 0;
  }
  
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none;
  }
  
  .accent {
    font-family: 'Proxima Bold';
    line-height: 14px;
    color: #60A9F0;
  }
  
  .focus-blue {
    color: cornflowerblue;
    font-weight: bold;
  }
  
  .tm-border {
      border: 5px solid #fff;
      box-shadow: 2px 2px #000;
  }
  
  .shadow {
      text-shadow: 1px 1px #000;
  }
  
  .tm-title {
      color: #66CCFF;
  }
  
  .main {
    /* background-image: linear-gradient(45deg, #daa2fd, #c0fdff); */
    background: url(../images/Users/Effect\ Glow.png ) no-repeat center center fixed;
    -webkit-background: url(../images/Users/Effect\ Glow.png ) no-repeat center center fixed;
    -moz-background: url(../images/Users/Effect\ Glow.png ) no-repeat center center fixed;
    -o-background: url(../images/Users/Effect\ Glow.png ) no-repeat center center fixed;
    -ms-background: url(../images/Users/Effect\ Glow.png ) no-repeat center center fixed;
  }
  
  .more {
    background: rgb(241, 177, 188);
  }
  
  .white {
    color: #fff;
  }
  
  .veried-logo {
    width: 50px;
    margin-left: 10px;
  }
  
  .about,.skills,
  .achievements,
  .contact {
    padding: 30px;
    min-height: 200px;
  }
  
  /* type 5 */
  .type5 {
    margin: 10px;
  }
  .type-title {
    opacity: 0;
    color: blue;
    text-shadow: 0 0 1px black;
    font-size: 25px;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
    animation: type5 2s steps(40,end) 1.5s forwards;
  }
  
  .type-name {
    opacity: 0;
    font-family: "Work Sans", sans-serif;
    margin: auto;
    background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
    font-size: 55px;
    color: white;
    text-shadow: 2px 2px red;
    width: 800px;
    background-clip: text;
    -webkit-background-clip: text;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid orange;
    animation: shring 2.5s steps(40,end) 1.5s forwards, blink5 .5s step-end infinite alternate;
  }
  
  @keyframes shring {
    0% {
      background-position: 0 0;
      opacity: 0;
      width: 0;
      background-position: 0 0;
    }
    50% {
      background-position: 150px 0;
      opacity: 1;
    }
    100% {
      background-position: 400px 0;
      opacity: 1;
    }
  }
  
  @keyframes type5 {
    0% {
      opacity: 0;
      width: 0;
    }
    1%, 99%{
      opacity: 1;
      border-right: 2px solid orange;
    }
    100%{
      opacity: 1;
      border-right: none;
    }
  }
  
  @keyframes blink5 {
    50% {
      border-color: transparent;
    }
  }

  /* preloader section */
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
     width: 100%;
    height: 100%;
     z-index: 1000;
     display: -webkit-flex;
      display: -ms-flexbox;
     display: flex;
     -webkit-flex-flow: row nowrap;
     -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
       -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
       -ms-flex-align: center;
       align-items: center;
      background: none repeat scroll 0 0 #fff;
    background: none repeat scroll 0 0 #f9f9f9;
  }
  .sk-spinner-wordpress.sk-spinner {
    background-color: #3366CC;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    -webkit-animation: sk-innerCircle 1s linear infinite;
            animation: sk-innerCircle 1s linear infinite; }
  .sk-spinner-wordpress .sk-inner-circle {
    display: block;
    background-color: #fff;
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 8px;
    top: 5px;
    left: 5px; 
  }
  
  @-webkit-keyframes sk-innerCircle {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  
  @keyframes sk-innerCircle {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }
  
  /* header section */
  header {
    text-align: center;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 160px;
    padding-bottom: 140px;
    margin-top: 50px;
  }
  header img {
    display: inline-block !important;
  }
  header h2 {
    text-shadow: 1px 1px 2px black;
  }
  header hr {
    border-color: #3366CC;
    width: 100px;
  }
  
  #header-navbar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 80;
    height: 50px;
    overflow: hidden;
    position: fixed;
    
  }
  
  /* about section */
  .about {
    background: #e9b3b3;
    box-shadow: rgb(145, 247, 242) 2px 2px 10px;
  }
  .about-info {
    display: flex;
    justify-content: space-between;
  }
  .about-info ul {
    padding-left: 20px;
  }
  .avatar-layout {
    background-image: url(../images/user/User-10.svg);
    background-repeat: no-repeat;
    position: relative;
    height: 175px;
    min-width: 165px;
  }
  .avatar-img {
    background: url(../images/avatar/nnhi.jpg) no-repeat center center / cover;
    position: absolute;
    top: 13px;
    left: 18px;
    height: 115px;
    width: 115px;
    border-radius: 50%;
  }
  
  /* skills section */
  .skills {
    background: #e9b3b3;
    text-shadow: 0 0 5px rgb(245, 8, 8);
    box-shadow: 2px 2px 10px #99FFFF;
    color: #f5f5f5;
    padding-left: 20px;
    padding-right: 0;
  }
  .skills-list li {
    width: 45%;
    margin: 5px;
    padding-left: 10px;
    line-height: 16px;
    list-style: none;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .skills-list img {
    height: 25px;
    width: 25px;
  }
  .rating-star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
  }
  .rating-star i {
    padding: 0 3px;
  }
  .rating-star .star-checked {
    color: #ffe400;
    font-weight: 900;
  }
  .rating-star .star-uncheck {
    color: #ddd;
    font-weight: 900;
  }

  /* achievements section */
  .achievements {
    background: #e9b3b3;
    box-shadow: rgb(137, 235, 230) 2px 2px 10px;
  }
  .achievements ul {
    padding: 10px;
  }
  .achievements ul li {
    padding-bottom: 6px;
  }
  
  /* contact section */
  .contact {
    background: #e9b3b3;
      box-shadow: rgb(164, 245, 241) 2px 2px 10px;
  }
  .contact .fa {
    padding-right: 6px;
  }

  /* footer section */
  footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 15px 0;
    text-decoration-color: white;
  }
  
  /* social icon section */
  .social-icons {
    padding: 0;
    margin: 0;
  }
  .social-icons li {
    display: inline-block;
    list-style: none;
  }
  .social-icons li a {
    background: #3366CC;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.4s ease-in;
    position: relative;
    bottom: 10px;
    top: 10px;
  }
  .social-icons li a:hover {
    background: #202020;
    color: #fff;
  }
  ul{
    margin: 1;
    padding: 1;
    overflow: hidden;
  }
  .navbar-brand, li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 0 1px 2px #333;
  }
  .navbar-brand:hover, .navbar-brand:hover a, li a:hover{
    background-color: #ccc;
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
  }
  .navbar-brand:hover .fa-facebook {
    color: white;
  }

  .social-list {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .social-list a {
    box-shadow: 0 0 5px white;
    padding: 10px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    display: flex;
    margin: 5px 5px;
  }
  .social-list a:hover {
    background-color: white;
  }
  .social-list a:hover .ti-facebook, .social-list a:hover .ti-linkedin {
    color: blue;
  }
  .social-list a:hover .ti-sharethis {
    color: deepskyblue;
  }
  .social-list a:hover .ti-github {
    color: #0d1117;
  }
  .social-list a:hover .ti-youtube, .social-list a:hover .ti-google {
      color: red;
  }
  .copyright {
    padding: 15px 0;
    font-size: 14px;
    color: white;
    font-style: italic;
  }
  .copyright a {
    color: #66CCFF;
  }

  /* more */
  .more-body {
    background: #e9b3b3;
    border: 1px solid rgb(241, 238, 238);
    padding: 10px 0 50px;
    overflow: hidden;
    position: relative;
  }
  .more-title {
    text-align: center;
  }
  .more-title h2 {
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .more-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: rgb(161, 10, 10);
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .more-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .more-info-item {
    margin: 15px;
    text-align: left;
  }
  .more-down-text {
    font-size: 30px;
    color: black;
    text-shadow: 0 0 3px black;
  }
  .more-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    text-align: center;
    display: none;
    cursor: pointer;
    color: #333;
  }
  .more-down-btn {
    color: orangered;
    animation: more-down 1.2s linear infinite;
  }
  @keyframes more-down {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(80%);
    }
  }
  .more-btn div:hover {
    color: #0563bb;
  }
  .more-overlay {
    position: absolute;
    bottom: -40px;
    width: 100%;
    box-shadow: -50px 0 100px 20px black;
    z-index: 10;
    height: 40px;
    display: none;
  }
  .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
  }
  .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
  }
  /* bá»• sung */
  .navbar {
    background-color: #FFCCFF;
    position: fixed !important;
    width: 100% !important;
    z-index: 100 !important;

  }
  .navbar-brand {
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar a {
    color: cornflowerblue;
    font-weight: bold;
    text-shadow: none;
  }
  .mobile-icon-name {
    display: none;
  }
  .bonus-info {
    font-size: 16px;
    margin-left: 20px;
    font-style: italic;
  }
  .php-email-form {
    width: 100%;
    margin: 30px 0;
  }
  .php-email-form .form-group {
    padding-bottom: 8px;
  }
  .php-email-form input {
    height: 44px;
  }
  .php-email-form input, .contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
  }
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  .php-email-form button[type=submit] {
    background: #0563bb;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }

  @keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }
  @keyframes fadeOut {
    to {
        opacity: 0;
    }
  }
 
  /* responsive */
  @media ( max-width: 980px ) {
    .skills, .achievements {
      margin-top: 30px;
    }

    .type-name {
      white-space: normal;
      width: 100%;
    }
    .mobile-icon-name {
      display: inline-block;
    }
    .navbar-brand {
      padding-left: 2%;
      padding-right: 2%;
    }
    #header .button-header:hover{
      /* opacity: 0.8; */
      cursor: pointer;
  }

    .navbar-brand-notuse {
      display: inline-flex;
      width: 100%;
      background-color: rgb(100, 205, 231);
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid black;
    }
    .navbar-brand-notuse:nth-child(4) {
      border-top: 1px solid black;
    }
  }
  
  @media ( max-width: 500px ) {
    .about-info {
      flex-direction: column;
    }
    .skills-list li {
      width: 90%;
    }
    .profile-tittle {
      margin: 10px 0;
    }
  }
  
  @media ( max-width: 368px ) {
    .about, .skills, .achievements, .contact {
      padding: 5px 20px 20px;
    }
    .about h2 {
      font-size: 24px;
    }
  }